.myCustomFooter {
  background-color: #282828;
  padding: 20px;
}

.myCustomFooter a {
  /* float: left;*/
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 2px;
}

.footerIcon {
  color: #fff;
}

.footerList {
  margin: 2px;
  padding: 5px;
}

.footerList ul {
  list-style: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.footerList a {
  padding: 3px;
}

.socialMediaWrapper {
  align-self: center;
}

.socialMedia {
  justify-content: space-evenly;
}

.footerContact {
  color: #fff;
}
