.customInputFocus:focus {
  border-color: #b1bbbc;
  box-shadow: 0 0 0 0.1rem #b1bbbc;
}

.responsiveMap {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsiveMap iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
