.customWellHeader {
  background: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customWellBread {
  background: #282828;
  color: white;
  padding: 30px;
}

.MyContentRow {
  margin-top: 10px;
  margin-bottom: 10px;
}
